.content-container {
    background-color: transparent;
    margin-top: 10px;
}
.login-scrn {
    background-color: #fff;
    color: #000000;
    margin-top: 4px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 4px;
    margin-left: 2px;
    margin-right: 2px;
}
.login-pnl {
    margin-left: 20px;
    border-right: 1px solid #ccc;
}
.login-error {
    color: red;
    font-size: 20px;
}
.content-main {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
}
.content-admin-login {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    color: #000;
    font-size: 25px;
}
.lg-pane {
    background-color: #F2F2F2;
    /*margin-left: 60px;
    margin-right: 60px;*/
    border: 2px solid #2E2E2E;
    padding-bottom: 20px;
    box-shadow: 0 0 10px;
}
.wrap-logo {
    background-image: url(../../static/images/wrap-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    opacity: 0.5;
    margin: -10px;
    padding: 20px 20px;
}
.admin-login {
    color: #428BCA;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.content-height {
    height: 450px;
}
#sport1, #sport2, #sport3, #sport4, #sport5 {
    margin-bottom: 15px;
}
.pnl-left {
    padding-left: 0;
}
.pnl-left ul {
    float: left;
    width: 100%;
    padding: 5px 0;
    background-color: #FAFAFA;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
}
.pnl-left li {
    display: block;
    color: #000;
    text-align: left;
}
.pnl-left li a {
    text-align: left;
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.pnl-left li a:hover, .pnl-left li a:focus {
    background-color: #58ACFA;
}

.pnl-left li a:hover, .pnl-left li a:focus {
    background-color: #58ACFA;
    color: #262626;
    text-decoration: none;
}

.pnl-left li a:hover, .pnl-left li a:focus {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #58ACFA 0px, #81DAF5 100%);
    background-repeat: repeat-x;
}
.dropdown-menu .divider {
    background-color: #cfcfcf;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #58ACFA;
    color: #262626;
    text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #58ACFA 0px, #81DAF5 100%);
    background-repeat: repeat-x;
}
.pnl-right {
    border-left: 1px solid silver;
}
.form-group {
    margin-right: 0!important;
}
.hrr { border-bottom: 1px solid silver; padding-right: 2px; padding-left: 2px; }
.ulistp { margin-top: 10px; }
.ulistc { border-bottom: 1px solid silver; }