/* Penn Med Masthead */	

#pennmed-masthead {
background-image: url(../../static/images/shared/thin-crust-bg.jpg);
background-repeat: repeat-x;
background-color: #fff;
height: 55px;
font-family: arial, verdana, helvetica;
position: relative;
z-index: 1;
}
#pennmed-masthead img {border: none;}
#pennmed-masthead-content {
width: 970px;
margin: 0 auto;
position: relative;
}

#logo {}
	
/* Search */

form#search {
	float: right;
	margin: 13px 30px 0 0;
	position: relative;
	padding: 0;
	
/*position: absolute;
top: 13px;
right: 35px;
*/
text-align: left;
width: 300px;
height: 23px;
background-color: #fff;
border: 1px solid #ccc;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
/*
background-image: url(/images/shared/thin-crust-search-box.gif);
background-repeat:no-repeat;
*/
}
#search label {
display: none;
}
#search #searchBox {
	float: left;
	padding: 0;
/* position: relative; */
/*position:absolute;
top: 0;
left: 5px;
*/
font-size: 14px !important;
font-weight: bold;
width: 260px;
color: #333;
border: none;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
background-color: #fff;
margin: 0;
text-indent: 5px;
padding-top: 2px;
}
#search #searchbutton {
margin: 2px 2px 0 0;
float: right;
width: 19px !important;
height: 19px;
padding: 0;
/*
position:relative !important;
top: 3px !important;
right: 3px !important;
*/
border: none;		
}

/* Drop Down */

#pennmed-mega-dropdown {
position: absolute;
top: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 900;
text-align: left;
}
#pennmed-mega-dropdown-activator {
display: block;
width: 12em;
color: #fff;
font-size: 11px;
height: 33px;
text-decoration: none;
padding: 20px 0 0 3em;
margin: 0;
}
#pennmed-mega-dropdown-activator img {
margin-left: 3px;
}
#pennmed-mega-dropdown-activator.hover {
color: #fff;
background-image: none;
background-color: #336595;
padding: 20px 0 0 10px;
}
#pennmed-mega-dropdown-activator.hover img {
display: none;
}
#pennmed-mega-dropdown div {
background-image: url(../../static/images/shared/template/thincrust-menu-bg.png);
background-position: bottom;
width: 260px;
position: absolute;
top: 55px;
left: 2px;
z-index: 9;
padding: 0 0 10px 0;
display: none;
}
#pennmed-mega-dropdown div.hover {display: block;}
#pennmed-mega-dropdown div ul {
list-style: none;
margin: 0 10px 2px 10px;
padding: 0;
text-align: left;
}
#pennmed-mega-dropdown div ul li {
padding: 2px 0 2px 1px;
font-size: 13px;
}
#pennmed-mega-dropdown div ul li a:link,
#pennmed-mega-dropdown div ul li a:visited {
display: block;
background-color: #ddd;
padding: 9px 2px 9px 25px;
text-decoration: none;
color: #333;
position: relative;
}
#pennmed-mega-dropdown div ul li a:hover {
color: #fff;
background-image:url(/images/shared/template/thincrust-item-hover.gif);
background-repeat:no-repeat;
background-color: #003b77;
}

/* Footer */

#global-footer {
font-family: arial, verdana, sans-serif;
}
#global-footer {
padding: 3em 0 100px 0;
clear: both;
color: #fff;
background-repeat: repeat-x;
border-top: 2px solid #fff;
}
#global-footer a {
color: #0CB;
}
#global-footer a:hover, 
#site-switcher a:hover{
text-decoration: none;
}

#global-footer-links {
list-style: none;
display: inline;
font-size: 12px;
margin: 0;
padding: 0;
}
	#global-footer-links li	{
	display: inline;
	padding: 0 10px 0 10px;
	}
#global-footer p {
margin-top: 0;
padding-top: 1em;
font-size: 12px;
}

#site-switcher {
width: 900px;
margin: 0 auto;
text-align: center;
padding: 0 0 20px 0;
font-weight: bold;
font-size: 15px;
}
#site-switcher li {
display: inline;
border-right: 1px solid #fff;
padding: 0 1em;
margin: 0;
}
#site-switcher li.last {
display: inline;
border-right: none;
}
#site-switcher li strong {
color: #fff;
}

/* AUTO SUGGEST */

#searchBox {
outline: none;
}
#suggest_table_searchBox {
margin: 0;
}	
#suggest_table_searchBox.autosuggest-body {
position: absolute;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
z-index: 900;
font-size: 14px;
font-weight: normal;
padding: 5px 0;
background-color: #fff;
margin-top: 5px;
width: 300px !important;
-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.autosuggest-body iframe {
display: block;
position: absolute;
z-index: 999;
filter: alpha(opacity=0);	
}
.autosuggest-body table {
background-color: #fff;	
margin: 0;
width: 100%;
}
.autosuggest-body tr {
cursor: hand;
cursor: pointer;
color: #06c;
color: #666;
text-align: left;
}
.autosuggest-body tr.up {
height: 1px;
border-top: none;
/*background: #656291 url("arrow-down-d.gif") center center no-repeat;*/
}
.autosuggest-body tr.down {
height: 1px;
border-top: none;
/*background: #656291 url("arrow-down-d.gif") center center no-repeat;*/
}
.autosuggest-body tr.up-disabled {
height: 1px;
border-top: none;
/*background: #656291 url("arrow-down-d.gif") center center no-repeat;*/
cursor: default;
}
.autosuggest-body tr.down-disabled {
height: 1px;
border-top: none;
/*background: #656291 url("arrow-down-d.gif") center center no-repeat;*/
cursor: default;
}
.autosuggest-body tr.selected {
background-color: #eee;
/*color: red;*/
}
.autosuggest-body td {
/* white-space: nowrap; */
padding: 5px 15px 5px 10px;
border-top: 1px solid #ddd;
font-weight: normal;
}
.autosuggest-body tr.up-disabled td,
.autosuggest-body tr.down-disabled td,
.autosuggest-body tr.up td,
.autosuggest-body tr.down td
{
border-top: none;
}

.autosuggest-body span.match {	
font-weight: bold;
color: #06c;
}
#mobile-banner {
	display: none;
}
#mobile-banner a {
	display: block; 
	padding: .75em 20px; 
	background-color: #0c0;
	background: -moz-linear-gradient(100% 100% 90deg, #009900, #00cc00); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00cc00), to(#009900)); 
	background: -webkit-linear-gradient(#00cc00, #009900); 
	background: -o-linear-gradient(#00cc00, #009900);
	color: #fff; 
	font-size: 40px;
	font-weight: bold;
}
