/* -- Events Tables -- */

.tables-events {
margin: 0 0 2.5em 0;
border: 1px solid #ccc;
padding: 3px;
width: 100%;
}
.tables-events th {
padding: .5em 1em;
border-bottom: 1px solid #ccc;
color: #000;
font-size: 13px;
vertical-align: top;
}
.tables-events td {
padding: .5em 1em;
border-bottom: 1px solid #ccc;
vertical-align: top;
}
.tables-events tr.odd {
background-color: #eee;
}
.tables-events tr.even {
background-color: #fff;
}
.tables-events tr.line {
margin-top: 20px;
padding-top: 15px;
border-top: 1px solid #ccc;
}
.tables-events tr.last th,
.tables-events tr.last td {
border-bottom: none;
}

#primary-column .list-column li.list-title {
color: #900;
font-weight: bold;
padding: 0;
background-image: none;
line-height: 1.5em;
list-style: none;
}

#primary-column .list-column li.list-title li {
background-image:url(../../static/images/shared/template/normal-bullet.gif);
font-weight: normal;
}

/* HOME PAGE */

#content-container {
padding: 0;
background-image: none;
margin-bottom: 40px;
}
#site-container {
background-image:none;
}
#content-container {
width: 970px;
height: auto;
}
#masthead-content {
padding-top: 0;
}
#primary-column {
float: left;
width: 650px;
padding: 0 0 18px 0 ;
margin: 5px 0 0 0;
background-image: url(../../static/images/shared/template/home-primary-bg.gif);
background-repeat: no-repeat;
background-position: bottom;
}

#primary-content {
background-image: url(../../static/images/shared/template/home-primary-content-bg.gif);
float: left;
overflow: hidden;
width: 100%;
padding-top: 1em;
}
#primary-column h1 {
font-weight: bold;
font-size: 18px;
color: #428bca;
padding: 0 20px .5em 20px;
margin: 0;
background-image: none;
}
#primary-column h2 {
font-size: 18px;
color: #900;
}
#primary-column #primary-content p {
padding: 0 20px .5em 20px;
}
#dynamic-content {
background-color: #eee; 
padding: 10px 0; 
clear: both; 
overflow: hidden; 
float: left;
width: 606px;
margin: 10px 0 20px 20px;
}
#primary-content .callout-module {
float: left;
margin-left: 20px;
width: 290px;
display: inline;
}
#primary-content #dynamic-content .callout-module {
margin-left: 15px;
width: 285px;
}
#primary-content .callout-module.clinical-highlights ul {
list-style: none;
margin: 0;
padding: 0;
}
#primary-content .callout-module.clinical-highlights li {
padding: .5em 0 0 70px;
min-height: 60px;
position: relative;
}
#primary-content .callout-module.clinical-highlights li img {
position: absolute;
top: 0;
left: 0;
}
#callout-column {
float: right;
width: 310px;
margin: 5px 0 0 0;
}
#callout-column p.note {
font-size: 10px;
color: #00ffff;
padding: 0;
margin: 0;
text-align: center;
}

/* Homepage Promo Callouts */

#promo-worth {
margin: 0;
}
#promo-worth a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-worth.gif);
text-indent: -9876px;
}
#promo-perelman {
margin: 0;
}
#promo-perelman a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-perelman.gif);
text-indent: -9876px;
}
#promo-mypennmedicine {
margin: 0;
}
#promo-mypennmedicine a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-mypennmedicine.gif);
text-indent: -9876px;
}
#promo-carepages {
margin: 0;
}
#promo-carepages a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-carepages.gif);
text-indent: -9876px;
}
#promo-stay-connected {
margin: 0;
}
#promo-stay-connected a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-stay-connected.gif);
text-indent: -9876px;
}
#promo-quality {
margin: 0;
}
#promo-quality a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-quality.gif);
text-indent: -9876px;
}
#promo-awards {
margin: 0;
}
#promo-awards a {
display: block;
height: 96px;
/*background-image: url(../../static/images/shared/promos/home/home-promo-awards.gif);*/
text-indent: -9876px;
}

#promo-giving {
margin: 0;
}
#promo-giving a {
display: block;
height: 96px;
background-image: url(../../static/images/shared/promos/home/home-promo-giving.gif);
text-indent: -9876px;
}

/* Google Feed | Community site  */

#employee-news-feed .gf-relativePublishedDate,
#employee-news-feed .gf-snippet,
#employee-news-feed .gf-author,
#employee-news-feed .gf-spacer,
#employee-news-feed .gfc-resultsHeader {
display: none;
}
#employee-news-feed div.gf-title {
height: auto;
}
#employee-news-feed a.gf-title {
display: block;
height: auto;
padding-bottom: 0;
font-size: 12px;
color: #900;
padding-left: 25px;
width: auto;
background-image:url(../../static/images/shared/template/blue-arrow.gif);
background-repeat:no-repeat;
background-position: 10px 5px;
line-height: 1.5em;
}
#employee-news-feed a.gf-title:hover {
color: #C00;
}
#community-news-feed .gf-relativePublishedDate,
#community-news-feed .gf-snippet,
#community-news-feed .gf-author,
#community-news-feed .gf-spacer,
#community-news-feed .gfc-resultsHeader {
display: none;
}
#community-news-feed div.gf-title {
height: auto;
}
#community-news-feed a.gf-title {
display: block;
height: auto;
padding-bottom: 0;
font-size: 12px;
color: #900;
padding-left: 25px;
width: auto;
background-image:url(../../static/images/shared/template/blue-arrow.gif);
background-repeat:no-repeat;
background-position: 10px 5px;
line-height: 1.5em;
}
#community-news-feed a.gf-title:hover {
color: #C00;
}
#callout-column ul.callout-related li.view-all-news {
position: relative;
}
#callout-column ul.callout-related li.view-all-news a:link,
#callout-column ul.callout-related li.view-all-news a:visited {
padding: 5px 10px 5px 15px;
float: right;
color: #0066cc;
text-align: right;
}

#callout-column ul.callout-related li.view-all-news a.subscribe-rss:link,
#callout-column ul.callout-related li.view-all-news a.subscribe-rss:visited {
position: absolute;
top: 0;
left: 0;
width: 100px;
padding: 5px 10px 5px 25px;
float: left;
color: #0066cc;
text-align: left;
background-image: url(../../static/images/shared/bullet-rss.gif);
background-position: 4px 4px;
}
