body {
    background-color: #cdcdcd;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 13px;
    margin-top: 0;
    text-align: center
}
@font-face {
    font-family: bootstrap-fonts;
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.svg#source_sans_proregular) format('svg'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype')
}
body p {
    line-height: 20px
}
.inner-container {
    max-width: 970px
}
.topheader {
    background-image: url(../../static/images/shared/thin-crust-bg.jpg);
    height: 55px
}
#logo {
    float: left;
    height: 55px
}
.logo {
    padding-right: 0
}
.topheader .right-pane {
    text-align: right;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px
}
.topheader .right-pane a {
    color: #fff;
    float: right;
    font-size: 15px;
    position: relative;
    text-decoration: none
}
.topheader .right-pane-out {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}
.topheader .right-pane-out a {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.topheader .right-pane a:hover {
    text-decoration: underline
}
.centerheader {
    color: #000;
    font-weight: 700;
    padding: 15px 0 0;
    background-image: url(../../static/images/shared/template/masthead-bg.gif)
}
.centerheader .left-pane {
    font-size: 20px;
    text-align: left
}
.centerheader .right-pane {
    font-family: Times New Roman;
    text-align: right;
    font-size: 17px;
    font-style: italic;
    float: right
}
.centerheader .center-pane {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 15px
}
.bottomheader {
    background-image: url(../../static/images/shared/template/masthead-bg.gif);
    background-position: bottom;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative
}
.mega-title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center
}
footer {
    background-color: #003c78
}
.main-body {
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    padding-top: 40px;
    margin-top: -38px
}
.main-body-inner {
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    box-shadow: rgba(0, 0, 0, .45) 0 2px 6px -2px inset;
    padding-top: 40px;
    margin-top: -39px;
    padding-bottom: 30px
}
.btn {
    border-radius: 0
}
.container {
    max-width: 1020px
}
#masthead {
    padding-top: 10px
}
.primary-nav {
    padding: 10px 0 0;
    width: 1020px
}
#pennmed-masthead-content {
    width: 1020px
}
#masthead-content .up-menu .up-mnu-inner {
    font-weight: 700;
    font-size: 17px
}
#masthead-content .up-menu .up-mnu-inner .left-pane {
    font-size: 20px;
    font-weight: bolder;
    text-align: left
}
#masthead-content .up-menu .up-mnu-inner .right-pane {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
    padding-right: -10px;
    float: right!important;
    text-align: right
}
header .centerheader .bottomheader .main-navigation {
    padding: 15px 0 0;
    clear: both
}
header .centerheader .bottomheader .main-navigation .nav-bar ul {
    margin: 0;
    padding: 0;
    height: 34px;
    border-bottom: none;
    display: table;
    width: 100%
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li {
    display: table-cell
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li:last-child {
    background: 0 0
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li:last-child a, header .centerheader .bottomheader .main-navigation .nav-bar ul li:last-child.active a {
    margin-right: 0
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 11px 2px 6px 0;
    text-align: center;
    display: block;
    font-family: bootstrap-fonts;
    background-color: #376a9d;
    border-radius: 10px 10px 0 0;
    border: 1px solid #fff
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li a:hover {
    text-decoration: underline;
    background-color: #5386b9
}
header .centerheader .bottomheader .main-navigation .nav-bar ul li.active a {
    background-color: #003e7a;
    border-bottom: 1px solid #003e7a
}
#wrapper {
    background-color: #cdcdcd;
    background-position: center top;
    background-repeat: repeat-y;
    overflow: hidden
}
#site-container {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left
}
#content-container {
    width: 1020px;
    background-position: center bottom;
    background-repeat: no-repeat;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 20px;
    text-align: left
}
#primary-column {
    background-image: url(../../static/images/shared/template/home-primary-bg.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    margin: 5px 0 0;
    padding: 0 0 18px;
    width: 650px
}
#primary-column ul {
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 0
}
#primary-column li {
    background-position: 5px 7px;
    background-repeat: no-repeat;
    line-height: 1.5em;
}
#primary-content {
    background-image: url(../../static/images/shared/template/home-primary-content-bg.gif);
    float: left;
    overflow: hidden;
    padding-top: 1em;
    width: 100%
}
#primary-content .con-lat-tab {
    padding-left: 4px;
    padding-right: 6px
}
#primary-content .con-lat-tab ul {
    margin-left: 4px;
    margin-right: 6px
}
#primary-content .con-lat-tab .nav-tabs {
    border-bottom: none;
    background-image: url(../../static/images/shared/nav-tab.png);
    background-position: center bottom;
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative
}
#primary-content .con-lat-tab .nav-tabs ul li a {
    padding: 9px 2px 6px 0
}
#primary-content .con-lat-tab .nav-tabs li {
    background-color: #fff;
    border-bottom: 1px solid #fff
}
#primary-content .con-lat-tab .nav-tabs li a {
    color: #fff;
    background-color: #376a9d;
    margin-right: 1px;
    padding: 10px;
    font-size: 11px;
    font-weight: 700
}
#primary-content .con-lat-tab .nav-tabs li a:hover {
    color: #fff;
    background-color: #5386b9;
    border-color: #5386b9
}
#primary-content .con-lat-tab .nav-tabs li.active {
    background-color: transparent;
    border-bottom: 1px solid #003e7a
}
#primary-content .con-lat-tab .nav-tabs li.active a {
    background-color: #003e7a
}
#primary-content .con-lat-tab .nav-tabs>li {
    float: none!important;
    display: inline-block;
    margin-bottom: 0;
    margin-left: -2px;
    margin-right: -1px
}
#primary-content .con-lat-tab .nav-tabs {
    text-align: center
}
.div-hide {
    display: none
}
.tab-content {
    text-align: justify;
    padding-bottom: 0;
}
.tab-content .tab-hide {
    display: none
}
.tab-content .active {
    display: block;
    margin-top: 15px
}
.jumbotron {
    background-color: transparent;
    margin-bottom: 0
}
.container .jumbotron {
    padding-left: 30px;
    padding-right: 30px
}
#callout-column {
    width: 370px;
    float: right;
    margin: 5px 0 0
}
#callout-column .callout-actions p {
    color: #fff;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 7px 5px;
    text-align: justify
}
#callout-column .callout-actions img {
    width: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #fff
}
#callout-column .callout-actions ul {
    color: #fff;
    font-size: 12px;
    width: 120px
}
#callout-column .callout-actions ul li {
    display: block
}
#callout-column .callout-actions .right-pane {
    padding: 0!important
}
#callout-column .callout-actions .right-pane p {
    text-align: left;
    padding: 0 0 0 5px!important;
    margin-bottom: 0
}
#callout-column .callout-actions .right-pane p a {
    padding: 0!important
}
#callout-column ul.callout-actions a:link, #callout-column ul.callout-actions a:visited {
    background-position: 0 25%;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    padding: 3px 0 5px 40px;
    text-decoration: none
}
#callout-column .callout-actions .descript {
    padding: 0!important
}
#callout-column .callout-actions .descript span {
    margin-right: 1px;
    padding-right: 10px
}
.callout-relative-bullet {
    background-image: url(../../static/images/shared/template/callout-relative-bullet.gif);
    background-repeat: no-repeat;
    color: #000
}
.callout-relative-bullet-base {
    background-image: url(../../static/images/shared/template/callout-relative-bullet.gif);
    background-position: 67px 4px;
    background-repeat: no-repeat;
    color: #000
}
#callout-column ul {
    font-size: 14px
}
#callout-column ul.callout-actions {
    width: 370px;
    padding: 0 0 5px;
    list-style: none;
    margin: 0
}
#callout-column ul.callout-actions li {
    margin-bottom: 5px;
    background: #428bca;
    background: -moz-linear-gradient(left, #163b77 0, #428bca 40%, #428bca 60%, #163b77 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #163b77), color-stop(40%, #428bca), color-stop(60%, #428bca), color-stop(100%, #163b77));
    background: -webkit-linear-gradient(left, #163b77 0, #428bca 40%, #428bca 60%, #163b77 100%);
    background: -o-linear-gradient(left, #163b77 0, #428bca 40%, #428bca 60%, #163b77 100%);
    background: -ms-linear-gradient(left, #163b77 0, #428bca 40%, #428bca 60%, #163b77 100%);
    background: linear-gradient(to right, #163b77 0, #428bca 40%, #428bca 60%, #163b77 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#091841', endColorstr='#091841', GradientType=1);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px
}
#callout-column ul.callout-actions li p:hover {
    cursor: pointer
}
#callout-column ul.callout-actions li a {
    padding: 5px 5px 2px 2px!important
}
.login-box {
    color: #3F3F3F;
    padding: 30px 0 0
}
.login-box .password-reset-box {
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #ededed), color-stop(100%, #fdfdfd));
    background-image: -webkit-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: -o-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#fdfdfd')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    border: 2px solid #fff;
    width: 60%;
    margin: 0 auto;
    padding: 30px
}
.login-box .password-reset-box:after, .login-box .password-reset-box:before {
    content: " ";
    display: table
}
.login-box .password-reset-box:after {
    clear: both
}
.login-box h2 {
    font-family: NewsGothicBT-bold;
    font-size: 24px;
    padding: 12px 20px 10px;
    background: rgba(66, 139, 202, .7);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#4cffffff');
    border: 2px solid #fff;
    margin: 0 15px 30px
}
.login-box .text-center {
    text-align: center
}
.login-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 10px;
    color: #428bca;
    border-bottom: 1px solid #e5e5e5;
    font-family: NewsGothicBT-bold
}
.login-box p {
    font-size: 13px;
    padding: 10px 0
}
.login-box .login-main-box {
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #a0bed0), color-stop(100%, #CBEDFF));
    background-image: -webkit-linear-gradient(bottom, #a0bed0 20%, #CBEDFF 100%);
    background-image: -moz-linear-gradient(bottom, #a0bed0 20%, #CBEDFF 100%);
    background-image: -o-linear-gradient(bottom, #a0bed0 20%, #CBEDFF 100%);
    background-image: linear-gradient(bottom, #a0bed0 20%, #CBEDFF 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#fdfdfd')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    border: 2px solid #fff;
    margin: 0 15px
}
.login-box .login-main-box:after, .login-box .login-main-box:before {
    content: " ";
    display: table
}
.login-box .login-main-box:after {
    clear: both
}
.login-box .login-main-box .log-in {
    padding: 30px;
    border-right: 1px solid #ccc;
    margin-left: -15px
}
.login-box .login-main-box .log-in .forgot-password {
    margin: 10px 0;
    color: #428bca;
    display: block;
    font-size: 11px;
    padding-left: 29%
}
.login-box .login-main-box .divider {
    padding: 30px 0 15px;
    position: relative;
    display: none
}
.login-box .login-main-box .divider div {
    border-bottom: 1px solid #e5e5e5
}
.login-box .login-main-box .divider span {
    position: absolute;
    margin-left: 43%;
    top: 15px;
    font-size: 20px;
    padding: 5px 15px;
    font-family: NewsGothicBT-bold;
    background: #ededed;
    color: #428bca
}
.login-box .login-main-box a {
    text-decoration: none
}
.login-box .login-main-box .qualcomm-login {
    display: none;
    margin-left: 28%;
    margin-top: 15px;
    font-family: NewsGothicBT-bold;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #ededed), color-stop(100%, #fdfdfd));
    background-image: -webkit-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: -o-linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    background-image: linear-gradient(bottom, #ededed 20%, #fdfdfd 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#fdfdfd')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    border: 2px solid #fff;
    width: 185px;
    padding: 10px;
    color: #000
}
.login-box .login-main-box .qualcomm-login:hover {
    color: #333
}
.login-box .login-main-box .qualcomm-login img {
    vertical-align: middle;
    padding-left: 5px
}
.login-box .login-main-box .sign-up {
    padding: 30px;
    margin: 0 -15px
}
.login-box .login-main-box .sign-up p {
    padding: 0 0 20px;
    font-size: 14px
}
.login-box .form-horizontal .form-actions {
    padding-left: 29%
}
.login-box .form-horizontal .form-group label {
    padding-top: 10px;
    font-size: 12px;
    padding-right: 10px;
    width: 30%;
    float: left
}
.login-box .form-horizontal .form-group .controls {
    float: left;
    width: 260px
}
.form-signin-heading {
    color: #2D2D2D
}
.sign-up {
    margin-bottom: 30px
}
.sign-up.sign-up-main {
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .6);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#4cffffff');
    padding: 20px;
    border: 2px solid #fff
}
.sign-up.sign-up-main .sign-up-right {
    padding: 0 15px;
    text-align: left
}
.sign-up.sign-up-main .sign-up-right .main-content {
    margin: 0!important
}
.sign-up.sign-up-main .sign-up-right .main-content h1, .sign-up.sign-up-main .sign-up-right .main-content h2 {
    color: #428BCA;
    background: 0 0;
    border: none;
    margin: 0;
    padding-left: 0;
    font-size: 24px
}
.sign-up.sign-up-main .sign-up-right .main-content h3 {
    color: #428BCA;
    font-family: NewsGothicBT-bold;
    font-size: 20px;
    padding: 10px 0;
    border: none;
    margin: 0;
    border-bottom: 1px solid #ddd
}
.sign-up.sign-up-main .sign-up-right .main-content div.border-box {
    border: 1px solid #afc3c5;
    padding: 0 20px;
    margin: 0 0 30px;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #a0bed0), color-stop(100%, #CBEDFF));
    background-image: -webkit-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -moz-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -o-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#fdfdfd')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px
}
.sign-up.sign-up-main .sign-up-right .main-content div.border-box h3 {
    margin: 0 -20px;
    border-bottom: 1px solid #afc3c5;
    padding: 15px 20px
}
.sign-up .form-horizontal {
    font-size: 13px;
    padding: 60px;
    margin: 30px auto;
    width: 75%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #a0bed0), color-stop(100%, #CBEDFF));
    background-image: -webkit-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -moz-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -o-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ededed', endColorstr='#fdfdfd')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    border: 2px solid #fff
}
.sign-up .form-horizontal #id_address_line_1, .sign-up .form-horizontal #id_address_line_2, .sign-up .form-horizontal #id_city, .sign-up .form-horizontal #id_company_name, .sign-up .form-horizontal #id_confirm_password, .sign-up .form-horizontal #id_country, .sign-up .form-horizontal #id_department_title, .sign-up .form-horizontal #id_email, .sign-up .form-horizontal #id_estimated_user_count, .sign-up .form-horizontal #id_fax, .sign-up .form-horizontal #id_first_name, .sign-up .form-horizontal #id_last_name, .sign-up .form-horizontal #id_password, .sign-up .form-horizontal #id_password1, .sign-up .form-horizontal #id_password2, .sign-up .form-horizontal #id_phone, .sign-up .form-horizontal #id_planned_use, .sign-up .form-horizontal #id_title, .sign-up .form-horizontal #id_zip_code {
    width: 100%
}
.sign-up .form-horizontal .form-group #div_id_eula, .sign-up .form-horizontal .form-group #div_id_eula_2, .sign-up .form-horizontal .form-group #div_id_is_behalf_of_corporate, .sign-up .form-horizontal .form-group #div_id_is_faculty_member, .sign-up .form-horizontal .form-group #div_id_is_promotion_enabled {
    padding-left: 190px
}
.sign-up .form-horizontal .form-group #div_id_eula label, .sign-up .form-horizontal .form-group #div_id_eula_2 label, .sign-up .form-horizontal .form-group #div_id_is_behalf_of_corporate label, .sign-up .form-horizontal .form-group #div_id_is_faculty_member label, .sign-up .form-horizontal .form-group #div_id_is_promotion_enabled label {
    width: auto
}
.sign-up .form-horizontal .form-group label {
    font-family: NewsGothicBT-bold;
    padding-right: 0;
    padding-bottom: 5px;
    font-size: 14px;
    float: left;
    width: 150px
}
.sign-up .form-horizontal .form-group label span {
    color: red
}
.sign-up .form-horizontal .form-group .controls {
    float: left;
    width: 70%;
    padding-left: 20px
}
.sign-up .form-horizontal .form-group input[type=checkbox] {
    margin-top: 0;
    padding-top: 0
}
.sign-up .form-horizontal .form-actions {
    padding-left: 170px
}
.sign-up .sign-up-left {
    padding-top: 20px;
    padding-right: 0
}
.sign-up .sign-up-left h2 {
    font-family: NewsGothicBT-bold;
    font-size: 16px;
    padding: 0 0 10px
}
.sign-up .sign-up-left a {
    color: #900
}
.sign-up .sign-up-right {
    color: #383837
}
.sign-up .sign-up-right.individual .main-content p {
    padding: 6px 0
}
.sign-up .sign-up-right.feedback p {
    padding: 5px 0!important
}
.sign-up .sign-up-right.feedback p span {
    padding-left: 32px;
    padding-top: 3px
}
.sign-up .sign-up-right .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0
}
.sign-up .sign-up-right .form-horizontal .form-group input[type=checkbox] {
    min-height: 10px;
    padding-top: 0
}
.sign-up .sign-up-right .application-submitted {
    text-align: center
}
.sign-up .sign-up-right .main-content {
    margin: 30px 0 0
}
.sign-up .sign-up-right .main-content.request-info .request-inner {
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(20%, #a0bed0), color-stop(100%, #CBEDFF));
    background-image: -webkit-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -moz-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: -o-linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    background-image: linear-gradient(bottom, #A0BED0 20%, #CBEDFF 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A0BED0', endColorstr='#CBEDFF')";
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px, rgba(0, 0, 0, .1) 0 0 0 1px;
    border: 2px solid #fff;
    padding: 20px;
    margin: 10px -15px;
    min-height: 220px
}
.sign-up .sign-up-right .main-content.request-info .request-inner span {
    text-align: center;
    display: block
}
.sign-up .sign-up-right .main-content.request-info h3 {
    text-align: center
}
.sign-up .sign-up-right .main-content.request-info p {
    text-align: center;
    padding: 10px 0
}
.sign-up .sign-up-right .main-content .btn {
    margin: 10px 0 20px
}
.sign-up .sign-up-right .main-content strong {
    font-family: NewsGothicBT-bold
}
.sign-up .sign-up-right .main-content h1 {
    font-family: NewsGothicBT-bold;
    font-size: 22px;
    padding: 12px 20px 10px;
    background: rgba(167, 188, 184, .7);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#4cffffff');
    border: 2px solid #fff;
    margin: 0 0 20px
}
.sign-up .sign-up-right .main-content h2 {
    font-family: NewsGothicBT-bold;
    font-size: 22px;
    padding: 12px 20px 10px;
    background: rgba(167, 188, 184, .7);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#4cffffff');
    border: 2px solid #fff;
    margin: 0 0 30px
}
.sign-up .sign-up-right .main-content h3 {
    color: #428bca;
    font-family: NewsGothicBT-bold;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5
}
.sign-up .sign-up-right .main-content hr {
    border-top: 2px solid #000;
    margin: 0 0 10px
}
.sign-up .sign-up-right .main-content p {
    color: #676767;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 0
}
.sign-up .sign-up-right .main-content p a {
    color: #428bca
}
.sign-up .sign-up-right .main-content.request-info h3 {
    color: #428bca;
    font-family: NewsGothicBT-bold;
    font-size: 20px;
    padding: 0 0 10px
}
.sign-up .sign-up-right .main-content.request-info .big-title {
    font-size: 28px;
    color: #428bca;
    font-family: NewsGothicBT-bold;
    padding-top: 50px;
    text-align: center
}
.sus-req-info-right-pane {
    padding-left: 12px;
    padding-right: 12px
}
.form-control {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}
#primary-content .info_ly img {
    width: 175px;
    margin-left: 20px;
    margin-bottom: 5px;
    border: 2px solid #8a8a8a
}
#primary-content .info_ly .right-pane p {
    text-align: left;
    padding: 0 0 0 30px!important
}
#primary-content .info_ly .right-pane p a {
    padding: 0!important
}
#primary-content .contact-sus {
    position: relative;
    margin-top: -110px;
    margin-bottom: 40px;
    margin-left: 465px;
    z-index: 1000;
    width: 170px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: #003e7a;
    text-align: center
}
#primary-content .contact-sus a p {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 0 0 .5em!important;
    margin: 0 0 -6px
}
header .select_country {
    border: none;
    margin: -15px 0 0 870px;
    position: relative;
    z-index: 100
}
header .select_country .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 5px;
    color: #428bca;
    width: 130px
}
#primary-content .info_ly .sample-report img {
    border: 2px solid #8a8a8a;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 92.5%
}
#primary-column p {
    line-height: 2em
}
#primary-column #primary-content .contact-sus p {
    line-height: 1.4em
}
#primary-content .info_ly {
    text-align: justify
}
#primary-content .info_ly .product-line div {
    margin: 0 auto
}
#primary-content .info_ly .product-line .product {
    padding: 5px;
    margin: 0
}
#primary-content .info_ly .product-line .product p {
    padding: 0 0 .5em!important;
    line-height: 1em
}
#primary-content .info_ly .product-line img {
    width: 90%;
    margin-left: -30px;
    margin-bottom: 5px;
    border: none
}
#primary-content .info_ly .founder img {
    margin-left: 0
}
#primary-content .info_ly .founder p {
    margin-left: 4px;
    margin-right: -8px;
    font-size: 12px;
    text-align: center
}
#primary-content .info_ly .product-line .gympioneers_logo {
    padding-top: 20px
}
#primary-content .info_ly .product-line a {
    text-decoration: none
}
#primary-content .slide-content {
    padding-top: 20px;
    padding-bottom: 0;
    display: none
}
#primary-content .slide-content .cntry {
    padding: 9px
}
#primary-content .slide-content img {
    width: 110%
}
#primary-content .slide-content .close {
    margin-right: 15px;
    margin-top: -21px
}
#primary-content .slide-content .modal-header .close {
    margin-top: 0
}
#primary-column #primary-content .slide-content .sus-cntry .country-tab {
    margin-left: 0;
    margin-right: 0
}
#primary-content .slide-content .sus-cntry .inner-content ul li {
    font-weight: 400;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
}
#primary-content .slide-content .sus-cntry .inner-content ul li a {
    font-weight: 700;
    font-size: 13px
}
hr {
    border-color: silver
}
.country-tab {
    border-bottom: none
}
.country-tab .left-tab {
    margin-left: 5px
}
.country-tab li {
    background-color: transparent;
    border: none
}
.country-tab li a {
    color: #fff;
    background-color: transparent;
    padding-right: 9px;
    border: 1px solid #fff
}
.country-tab>li>a {
    border: none;
    padding: 0 9px 0 0;
    border-radius: 0
}
.country-tab li a:hover {
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 5px #000;
    border: 2px solid #fff
}
.country-tab li.active {
    background-color: transparent;
    border: none
}
.country-tab li.active a {
    background-color: transparent;
    box-shadow: 0 0 5px #000;
    border: 2px solid #fff
}
#primary-column dl, #primary-column li, #primary-column p, #primary-column table {
    color: #000;
    margin-top: 0;
    font-size: 13px;
}
#primary-content .inner-content {
    margin-bottom: 30px
}
#primary-content .inner-content .container {
    padding-left: 0;
    padding-right: 0
}
#primary-content .inner-content .close {
    margin-right: 13px
}
#primary-column h1 {
    color: #428bca;
    font-size: 24px
}
#primary-column h2 {
    color: #428bca;
    font-size: 17px
}
.modal-dialog {
    width: 900px
}
.form-group {
    margin-bottom: 15px;
    margin-right: 50px!important
}
.form-group label {
    color: #000;
    font-weight: 400;
    padding: 0;
    font-size: 13px
}
#global-footer {
    border-top: 2px solid #fff;
    padding: 3em 0 100px
}
#global-footer p {
    font-size: 12px;
    margin-top: 0;
    padding-top: 1em
}
#primary-column .flexslider {
    background-color: #fff
}
.flex-container a:active, .flex-container a:focus, .flexslider a:active, .flexslider a:focus {
    outline: 0
}
.slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
html[xmlns] .slides {
    display: block
}
* html .slides {
    height: 1%
}
.no-js .slides>li:first-child {
    display: block
}
#no_js_slide {
    width: 636px
}
#primary-column .flexslider {
    width: 636px;
    height: 355px;
    margin: -11px 0 45px 6px;
    padding: 0;
    position: relative;
    zoom: 1;
    z-index: 0
}
#primary-column .flexslider a.slide-link {
    width: 636px;
    height: 307px
}
#primary-column .flexslider a.non-js-slide-link {
    position: absolute;
    height: 300px
}
#primary-column .flexslider #no_js_slide p.flex-caption {
    margin-bottom: -7px
}
#primary-column .flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: visible
}
#primary-column .flexslider ul.slides {
    background: 0 0;
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none
}
#primary-column .flexslider ul.slides li {
    padding-left: 0
}
#primary-column .flexslider .slides img {
    width: 636px;
    height: 355px;
    display: block
}
#primary-column .flexslider .flex-control-nav {
    bottom: -43px;
    background-image: none!important;
    background-color: #003e7a;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    padding: 0;
    width: 636px;
    height: 28px;
    left: 0;
    position: absolute;
    z-index: 10;
    list-style: none;
    text-align: center;
    margin: 0 0 14px;
    font-style: italic;
    border-radius: 0 0 10px 10px
}
#primary-column .flexslider .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}
#primary-column .flexslider ul.flex-direction-nav li {
    margin-bottom: 0;
    float: left;
    background-image: none!important
}
#primary-column .flexslider .flex-direction-nav a {
    display: block;
    width: 25px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}
#primary-column .flexslider .flex-direction-nav .flex-next, #primary-column .flexslider .flex-direction-nav .flex-prev {
    height: 100px
}
#primary-column .flexslider .flex-direction-nav .flex-prev {
    background: url(/static/images/shared/flexslider/arrow-left-small.png) no-repeat;
    left: 18px;
    text-indent: -9999px;
    opacity: .6;
    margin-top: 5px
}
#primary-column .flexslider .flex-direction-nav .flex-next {
    background: url(/static/images/shared/flexslider/arrow-right-small.png) no-repeat;
    right: 18px;
    text-indent: -9999px;
    opacity: .6;
    margin-top: 5px
}
#primary-column .flexslider:hover .flex-prev {
    opacity: .6;
    left: 18px
}
#primary-column .flexslider:hover .flex-next {
    opacity: .6;
    right: 18px
}
#primary-column .flexslider:hover .flex-next:hover, #primary-column .flexslider:hover .flex-prev:hover {
    opacity: 1
}
#primary-column .flex-direction-nav .flex-disabled {
    opacity: 1!important;
    cursor: default
}
#primary-column .flex-direction-nav a.flex-next:before, #primary-column .flex-direction-nav a:before {
    content: ''
}
#primary-column .flexslider .flex-control-paging li {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1
}
#primary-column .flexslider .flex-control-paging li a {
    background: url(/static/images/shared/flexslider/nav-pushbutton-unselected.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 28px;
    text-indent: -9999px;
    width: 54px
}
#primary-column .flexslider .flex-control-paging li a:hover {
    background: url(/static/images/shared/flexslider/nav-pushbutton-hover.png) no-repeat
}
#primary-column .flexslider .flex-control-paging li a.flex-active {
    background: url(/static/images/shared/flexslider/nav-pushbutton-selected.png) no-repeat;
    cursor: default;
    display: block;
    height: 28px;
    text-indent: -9999px;
    width: 54px
}
#primary-column #primary-content p.flex-caption {
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    padding: 40px 10px 10px;
    margin: 0;
    position: absolute;
    width: 415px;
    left: 0;
    bottom: -1px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    text-shadow: 1px 1px 4px #000
}
#primary-column #primary-content p.flex-caption a:link, #primary-column #primary-content p.flex-caption a:visited {
    color: #79CFFF;
    text-decoration: none
}
#primary-column #primary-content p.flex-caption a:hover {
    color: #AEE2FF;
    text-decoration: underline
}
.modal-body {
    padding: 0
}
.modal-body .jumbotron li {
    padding: 0;
    list-style-type: none;
}
#primary-content .slide-content .modal-body ul li {
    padding: 5px;
    list-style-type: none;
}
#primary-content .slide-content .modal-body ul li a {
    font-weight: 700
}
#primary-content .slide-content .modal-body ul li ul li {
    padding-left: 0;
    margin-left: -5px
}
#primary-content .slide-content .modal-body ul li div {
    font-size: 11px;
    padding: 0
}
.masthead {
    background-color: @brand-primary
}
button.close {
    margin-top: -40px
}
.modal {
    display: none;
    left: none;
    overflow-x: none;
    overflow-y: none;
    right: none
}
.video-sec {
    padding-top: 30px;
}
.video-sec img {
    border: 2px solid silver;
    margin-top: 5px;
}
.video-sec .video-div div {
    padding-right: 0;
    padding-left: 0;
}
.video-sec .video-div p {
    font-size: 10px !important;
    font-weight: bold;
    padding-right: 20px;
}
.tab_info_ly {
    padding-bottom: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #428bca;
}
.modal-sm {
    width: 500px;
    color: #000000;
}
.modal-body{ padding-bottom: 20px }
.error { color: #990000; }
.btn-primary { border-radius: 5px;}
.content-container { background-color: transparent; margin-top: 10px; }
.login-scrn { background-color: #fff;
    color: #000000;
    margin-top: 4px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 4px;
    margin-left: 2px;
    margin-right: 2px;
}
.login-pnl { margin-left: 20px; border-right: 1px solid #ccc; }
.login-error { color: red; font-size: 20px; }

.content-main { background-color: #fff; padding-top: 10px; padding-bottom: 10px; color: #000;
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
}

.content-admin-login { 
    background-color: #fff; padding-top: 10px; padding-bottom: 10px; margin-top: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, .45) 0 3px 10px;
    color: #000;
    font-size: 25px;    
}

.lg-pane { background-color: #F2F2F2; margin-left: 60px; margin-right: 60px; border: 2px solid #2E2E2E; padding-bottom: 20px; }

.wrap-logo {
    background-image: url(../../admin/static/images/wrap-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    opacity: 0.5;
    margin: -10px;
    padding: 20px 20px;
}

.admin-login { color: #428BCA; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.content-height { height:450px; }